<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/studentCourse.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="icon" href="img/logo.jpg" type="image/jpg" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>My-Courses</title>
    <script>
      function filterItems() {
        var searchInput = document.getElementById("search").value.toLowerCase();
        var items = document.querySelectorAll(".item-ins");

        items.forEach(function (item) {
          var title = item.querySelector(".item-title").innerText.toLowerCase();
          var instructor = item
            .querySelector(".item-details p")
            .innerText.toLowerCase();

          if (title.includes(searchInput) || instructor.includes(searchInput)) {
            item.style.display = "block";
          } else {
            item.style.display = "none";
          }
        });
      }
    </script>
  </head>
  <body>
    <%- include('navBarStudent.ejs') %>

    <div class="search-margin">
      <input
        type="text"
        class="instructor-search"
        id="search"
        placeholder="Search"
        oninput="filterItems()"
      />
    </div>
    <% if (message !== undefined) { %>
    <p style="color: red; text-align: center"><%= message %></p>
    <% } %>
    <section class="container content-section">
      <div class="items">
        <% if (dbRecordList && dbRecordList.length > 0) { %> <% for (let i = 0;
        i < dbRecordList.length; i++) { %>
        <div class="item">
          <img class="item-image" src="img/science.jpg" alt="" />
          <span class="item-title"><%= dbRecordList[i].CourseName %></span>
          <div class="item-details">
            <p>
              Grade/Level: <%= dbRecordList[i].Level %> <br />
              Instructor: <%= dbRecordList[i].Instructor %>
            </p>
            <form method="POST" action="">
              <!-- Pass course details to the server when the form is submitted -->
              <input
                type="hidden"
                name="courseId"
                value="<%= dbRecordList[i].CourseId %>"
              />
              <button class="btn item-button" type="submit">View</button>
            </form>
          </div>
        </div>
        <% if ((i + 1) % 3 === 0 && i !== dbRecordList.length - 1) { %>
        <!-- Add a clearing div after every 3 items -->
        <div style="clear: both"></div>
        <% } %> <% } %> <% } else { %>
        <br />
        <% } %>
      </div>
    </section>

    <%- include('footer.ejs') %>
  </body>
</html>
