<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/viewCourse.css" />
    <link rel="icon" href="img/englishIns.jpg" type="image/jpg" />
    <link rel="icon" href="img/logo.jpg" type="image/jpg" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>My-Courses</title>
  </head>

  <body style="background-color: #9ee493">
    <%- include('navBarInstructor.ejs') %>
    <div class="containerCourse">
      <div class="profile1">
        <img class="profile-image" src="img/user.png" alt="" />
        <div class="labelpro">
          <span class="labelpro1"> <%= dbRecordList[0].Instructor %></span>
        </div>
      </div>

      <div class="container-formCourse">
        <form action="" class="formCourse">
          <div class="heading1">
            <h4><%= dbRecordList[0].CourseName %></h4>
            <% if (dbRecordList[0].Video) { %>
            <div class="vdpath">
              <iframe
                width="95%"
                height="415"
                src="<%= dbRecordList[0].Video %>"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
            <% } %>
          </div>

          <div class="heading2">
            <h4>About the Course</h4>
          </div>

          <div class="row">
            <div class="profile-container">
              <div class="profile-item">
                <span class="label">Description:</span>
                <%= dbRecordList[0].Description %>
              </div>

              <div class="profile-item">
                <span class="label">Subject:</span> <%= dbRecordList[0].Subject
                %>
              </div>

              <div class="profile-item">
                <span class="label">Teaching Format:</span> <%=
                dbRecordList[0].TeachingFormat %>
              </div>

              <div class="profile-item">
                <span class="label">Education Level:</span> <%=
                dbRecordList[0].EduLevel %>
              </div>

              <div class="profile-item">
                <span class="label">Mode:</span> <%= dbRecordList[0].Mode %>
              </div>

              <div class="profile-item">
                <span class="label">Teaching Style:</span> <%=
                dbRecordList[0].TeachingStyle %>
              </div>
            </div>

            <div class="heading2">
              <h4>Ratings and Reviews</h4>
            </div>
            <div class="star-rating">
              <div class="ratingA">
                <input type="radio" name="rating1" id="rating1" />
                <label for="rating1"></label>
                <input type="radio" name="rating1" id="rating2" />
                <label for="rating2"></label>
                <input type="radio" name="rating1" id="rating3" />
                <label for="rating3"></label>
                <input type="radio" name="rating1" id="rating4" />
                <label for="rating4"></label>
                <input type="radio" name="rating1" id="rating5" />
                <label for="rating5"></label>
                <h6 class="value">4.6</h6>
                <br />
                <br />
                <br />
              </div>
            </div>
            <div class="review">
              <p>
                Great! <br />
                He helped me feel more prepared for an exam I had the day before
                on linear programming with very short notice. He makes sure you
                understand it before going forward, and is patient with you. I
                recommend him!!
              </p>
            </div>

            <div class="flexRate">
              <div class="flexRateBox">
                <input
                  type="button"
                  value="Back"
                  class="button rate-btn"
                  onclick="window.location.href='/instructor-home'"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
  <%- include('footer') %>
</html>
